form {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  margin-top: 20px;
}

.edit {
  margin-right: 10px;
}
.edit > i{
  color: #FFBE59;
}

.delete > i{
  color: crimson;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-card {
  margin-bottom: 10px;
}
